*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    height: 100vh;
    width: 100%;
    text-align: center;
}



.box-container{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5rem auto;
    height: 600px;
    overflow:hidden;
    width: 75%;
}

button{
    margin: 1rem;
    padding: 2rem;
    padding-right: 10rem;
    padding-left: 10rem;
    padding-top: -2rem;
    padding-bottom: -2rem;
    background-color: wheat;
    color: black;
}

body{
    background-color: black;
}

